# Selects ./internal/config/<APP_ENV>.yaml
APP_ENV=develop

# Database settings
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=url_shortener
DB_MAX_OPEN=25
DB_MAX_IDLE=10
DB_MAX_CON_LIFETIME=300
DB_SSL_MODE=disable

# HTTP server
SERVER_PORT=8000
